<div class="page">
  <nav class="red darken-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" routerLink="/" class="brand-logo">Paris V</a></div>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>


  <footer class="page-footer red darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Documents</h5>
          <p class="grey-text text-lighten-4">Ces inventaires ont été établis en se basant sur les POS (Procédure
            Opératoire de Service) de l'intranet.</p>
          <p>En cas de suggestions ou réclamations, merci de contacter <a
            href="mailto:logistique.paris05@croix-rouge.fr" target="_blank" class="waves-effect waves-teal btn-flat">logistique.paris05@croix-rouge.fr</a>
          </p>


        </div>
        <div class="col l2 s12">
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Sources</h5>
          <ul>
            <li><a class="white-text"
                   href="https://intranet.croix-rouge.fr/jcms/p2_4018553/fr/pos-duo-mot-2019-001-liste-materiel-secours">POS
              Composition des logs de matériels de secours</a></li>
            <li><a class="white-text"
                   href="https://drive.google.com/file/d/0B7KGd9STpji8YlJiZWRaQnVrbXV0M0FpRFVyeUVNWGNERnZr/view?usp=sharing">POS
              Matériel VPSP - DT75</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
