<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center red-text text-darken-1">Fiches d'inventaire</h1>
    <div class="row center">
      <h5 class="header col s12 light">Retrouvez les fiches d'inventaire du matériel de Paris V ci-dessous</h5>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4 waves-effect clickable" routerLink="/dps">
        <div class="icon-block">
          <h2 class="center red-text text-darken-1">
            <span class="mdi mdi-96px mdi-hospital-box-outline"></span>
          </h2>
          <h5 class="center">Lot DPS</h5>
        </div>
      </div>

      <div class="col s12 m4 waves-effect clickable" routerLink="/vpsp">
        <div class="icon-block">
          <h2 class="center red-text text-darken-1">
            <span class="mdi mdi-96px mdi-ambulance"></span>
          </h2>
          <h5 class="center">VPSP</h5>
        </div>
      </div>

      <div class="col s12 m4 waves-effect clickable" routerLink="/pharmacy">
        <div class="icon-block">
          <h2 class="center red-text text-darken-1">
            <span class="mdi mdi-96px mdi-pill"></span>
          </h2>
          <h5 class="center">Pharmacie</h5>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>
